<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="google" value="notranslate">
    <!-- 禁止Chrome 浏览器中自动提示翻译 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 禁止百度转码 -->
    <title>我的医助</title>

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="element/element-ui.min.css">
    <link rel="stylesheet" href="swiper/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="css/imgUp.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/public.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/personal.css" />
    <link rel="stylesheet" href="css/my_assistant.css" />
</head>

<body>
    <div id="page">
        <div class="container">
            <my-header active="7"></my-header>
        </div>
        <div class="main">
            <section class="container clearFix">
                <my-left-nav active="21"></my-left-nav>
                <div class="right right-box" style="min-height: 720px;height: auto">
                    <p class="header-title clearFix">我的医助</p>
                    <ul class="ul-list">
                        <li class="clearFix" v-for="item in listData" @click="viewDetail(item.id)">
                            <img class="left" :src="item.translates.avatar_img" />
                            <p class="left name" v-text="item.nickname"></p>
                            <p class="left num">服务患者：<span class="c1">{{item.service_num}}</span>人</p>
                            <div class="left class-table">
                                <p class="line1">上午：<span class="c1">小明 小红</span></p>
                                <p class="line1">下午：<span class="c1">小明 小红</span></p>
                            </div>
                            <p class="right"><img src="images/f21_icon1.png" /></p>
                        </li>
                    </ul>
                    <div class="page" v-if="total>1" style="margin-top: 40px;margin-bottom: 10px;">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                layout="prev, pager, next"
                                :current-page="currentPage"
                                :page-size="per_page"
                                :page-count="total"
                        >
                        </el-pagination>
                    </div>
                    <p class="noTip" v-if="listData.length==0">暂无医助</p>
                </div>
        </section>
    </div>
    <my-footer></my-footer>
    <login-box></login-box>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery-3.1.0.js"></script>
    <script src="js/Validform_v5.3.2.js"></script>
    <script src="js/uploadImg.js"></script>
    <script src="element/element-ui.min.js"></script>
    <script src="js/header.js"></script>
    <script src="js/login.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/leftNav.js"></script>
    <script src="js/public.js"></script>
    <script>
        var content = new Vue({
            el: '#page',
            data() {
                return {
                    currentPage: 1,
                    pageSize: 30,
                    total: 0,
                    listData: [],
                    provinceId: getUserInfo()?getUserInfo().province_id:0,
                }
            },
            mounted: function() {
                getToken(this)
                this.getMyAssistant();
            },
            methods: {
                handleSizeChange:function(val) {

                },
                handleCurrentChange:function(val){
                    this.currentPage = val;
                    this.getMyAssistant()
                },
                getMyAssistant: function() {
                    var _this = this;
                    axios.get(assistantApi + '/assistant?e_s[province_id]=' + _this.provinceId + '&page=' + _this.currentPage + '&per_page=' + _this.pageSize).then(function(response) {
                        var _data = response.data;
                        _this.listData = _data.data.assistant;
                        _this.total = _data.data.total_page;
                    }).catch(function(error) {
                        linkLogin(_this)
                    })
                },
                viewDetail: function(id) {
                    location.href = "assistant_info.html?id="+id;
                }
            }
        })
    </script>
</body>

</html>