.cc {
  font-size: 14px;
  color: #4CC6D8;
}
.header-title {
  line-height: 50px;
  border-bottom: 1px solid #eff1fa;
  padding: 0 20px;
  font-size: 14px;
  color: #333;
}
.main .container .right-box {
  width: 884px;
}
.main .container .right-box .header-top {
  padding: 18px 20px;
}
.main .container .right-box .header-top .header-name {
  margin-top: 0;
  line-height: 14px;
}
.main .container .right-box .header-top .hospital-name {
  line-height: 12px;
}
.main .container .right-box .chat-content {
  width: 96%;
  padding: 0 20px;
  height: 383px;
}
.main .container .right-box .chat-content .time {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .container .right-box .footer-bottom {
  padding: 13px 20px 0 20px;
}
.main .container .right-box .footer-bottom img {
  width: auto;
  height: auto;
  margin-right: 23px;
}
.main .container .right-box .footer-bottom .input-p textarea {
  background: none;
  outline: none;
  border: none;
  width: 844px;
  padding: 0;
  height: 40px;
  margin: 8px 0;
  font-size: 14px;
  color: #333;
  resize: none;
}
.main .container .right-box .footer-bottom .send-btn {
  width: 136px;
  height: 40px;
  margin-bottom: 15px;
}
.doctor-box .left-nav {
  height: 590px!important;
}
.doctor-box .header-top img {
  margin: 0;
  margin-right: 14px;
}
.doctor-box .main .container .right-box .header-top {
  padding: 10px 20px;
}
.doctor-box .main .container .right-box .header-top .header-name {
  margin-top: 4px;
}
.doctor-box .main .container .right-box .footer-bottom .send-btn {
  margin-bottom: 7px;
}
.doctor-box .main .container .right-box .footer-bottom .input-p textarea {
  height: 26px;
}
.doctor-box .main .container .right-box .chat-content .time {
  line-height: 12px;
}
