@keyframes error404animation {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(-60deg);
    }
    40% {
        transform: rotateZ(-10deg);
    }
    60% {
        transform: rotateZ(50deg);
    }
    80% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
.error404 {
    height: 100%;
    background: #f8f8f8;
    .body-con {
        width: 700px;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .logo {
            text-align: center;
        }
        .title {
            text-align: center;
            font-size: 120px;
            font-weight: 700;
            color: #2d8cf0;
            height: 220px;
            line-height: 220px;
            margin-top: 40px;
            span {
                display: inline-block;
                color: #ed3f14;
                font-size: 120px;
                animation: error404animation 3s ease 0s infinite alternate;
            }
            b {
                font-size: 120px;
                color: red;
            }
        }
        .message {
            text-align: center;
            font-size: 18px;
        }
    }
    .btn-con {
        text-align: center;
        padding: 20px 0;
        margin-bottom: 30px;
    }
}