@import "../../less/variable";
.questionnaire-content{
  padding: 27px 15px;
  .que-type{
    margin-bottom: 32px;
  }
  .marBot{
    margin-bottom: 12px;
  }
  .que-select{
    width: 92px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    margin-left: 20px;
    border: 1px solid #eff1fa;
    background: #FAFBFF;
    color: #333;
  }
  .line{
    position: relative;
  }
  .xiaLa{
    position: absolute;
    right:6px;
    top:11px;
  }
  .que-title{
    .color999(14px,#000);
    line-height: 30px;
  }
  .son-title{
    .color999(14px,#999);
    line-height: 30px;
    margin-left: 20px;
  }
  .input-p{
    input{
      height: 28px;
      line-height: 28px;
      width: 216px;
      padding: 0 10px;
      border: 1px solid #eff1fa;
      background: #FAFBFF;
      color: #333;
    }
  }
  .textArea-title{
    margin-bottom: 12px;
    .color999(14px,#333);
    margin-left: 21px;
  }
  .textArea-p{
    margin-left: 21px;
    textarea{
      resize: none;
      width: 770px;
      height: 54px;
      border: 1px solid #eff1fa;
      background: #FAFBFF;
      color: #333;
      padding: 10px;
    }
    margin-bottom: 35px;
  }
  .pay-p{
    position: relative;
    line-height: 30px;
    margin-left: 34px;
    margin-right: 15px;
    input[type = "radio"] {
      position: absolute;
      left: 0;
      top:8px;
      width: 18px;
      height: 18px;
      opacity: 0;
    }
    input[type = "checkbox"] {
      position: absolute;
      left: 0;
      top:8px;
      width: 18px;
      height: 18px;
      opacity: 0;
    }
    label{
      .color999(14px,#000);
    }
    .type-img{
      margin-right: 8px;
      margin-left: 21px;
    }
    .tip{
      .color999(12px,#666)
    }
  }
}
.btn-box{
  margin-left:38px;
  .save-btn{
    width: 136px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #4CC6D8;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
}