@import "variable";

.main .container .right-box{
  width: 884px;
  .header-top{
    padding: 18px 20px;
    .header-name{
      margin-top: 0;
      line-height: 14px;
    }
    .hospital-name{
      line-height: 12px;
    }
  }
  .chat-content{
    padding: 0 20px;
    height: 383px;
    .time{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .footer-bottom{
    padding: 13px 20px 0 20px;
    img{
      width: auto;
      height: auto;
      margin-right: 23px;
    }
    .input-p{
      textarea{
        background: none;
        outline: none;
        border: none;
        width: 844px;
        padding: 0;
        height:40px;
        margin: 8px 0;
        .color999(14px,#333);
        resize: none;
      }
    }
    .send-btn{
      width:136px;
      height:40px;
      margin-bottom: 15px;
    }
  }
}
.doctor-box{
  .left-nav{
    height: 590px!important;
  }
  .header-top img{
    margin: 0;
    margin-right: 14px;
  }

  .main .container .right-box .header-top{
    padding: 10px 20px;
  }
  .main .container .right-box .header-top .header-name{
    margin-top: 4px;
  }
  .main .container .right-box .footer-bottom .send-btn{
    margin-bottom: 7px;
  }
  .main .container .right-box .footer-bottom .input-p textarea{
    height: 26px;
  }
  .main .container .right-box .chat-content .time{
    line-height: 12px;
  }
}