@import "variable";

.header-top{
  width:1000px;
  margin: 0 auto;
  line-height: 52px;
  .color999(@color:#999);
  .hospital-name{
    color:#4CC6D8;
  }
}
.top-box{
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 10px;
  img{
    width:70px;
    height:70px;
    border-radius: 50%;
    margin-right: 21px;
  }
  .doctor-info{
    .doctor-name{
      .color999(14px,#333);
      margin-top: 15px;
      margin-bottom: 10px;
      .name{
        .color999(18px,#333);
        margin-right: 10px;
      }
    }
    .hospital-name{
      .color999(14px,#333);
    }
  }
  >.right{
    p>span{
      float: left;
    }
    .title{
      text-align: right;
      line-height: 31px;
      margin-bottom: 10px;
      width: 56px;
      .color999(14px,#333);
    }
    .ask-type,.doctor-type{
      width: 129px;
      height: 31px;
      line-height: 31px;
      height: 31px;
      text-align: center;
      color: #fff;
      margin-left: 10px;
      cursor: pointer;
    }
    .ask-type{
      background: #4CC6D8;
    }
    .doctor-type{
      background: #40CD6F;
    }
  }
}
.content-box{
  .top-title{
    padding-top: 19px;
    color: #000;
  }
  .word-div{
    padding: 20px 0 9px 0;
    .color666(14px);
    line-height: 18px;
    height: 18px;
  }
}
.evaluate-list{
  margin-bottom: 4px;
  li{
    padding: 20px 10px;
    border-bottom: 1px dotted #ccc;
    .head-img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .user-name{
      line-height: 16px;
      height: 16px;
      .name{
        .color999(14px,#000);
        margin-right: 9px;
      }
      img{
        width:16px;
        height: 16px;
      }
    }
    .evaluate-word{
      line-height: 30px;
      height: 30px;
      .color999(12px,#999);
    }

  }
  .tag-list{
    span{
      float: left;
      margin-right: 10px;
      width:62px;
      height:20px;
      border-radius: 10px ;
      text-align: center;
      line-height: 20px;
      height: 20px;
      border: 1px solid #999;
      color:#4CC6D8;
    }
  }
}