@import "variable";

.ul-list{
  li{
    padding: 10px 15px;
    border-bottom: 1px solid #eff1fa;
    cursor: pointer;
    >img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 13px;
    }
    .name{
      .color999(14px,#000);
      line-height: 40px;
      width: 140px;
      margin-left: 16px;
    }
    .num{
      line-height: 40px;
      .color999(12px,#666);
      width: 180px;
      margin-left: 12px;
    }
    .c1{
      color: #4CC6D8;
    }
    .class-table{
      padding: 4px 0;
      p{
        line-height: 16px;
      }
    }
    .right{
      line-height: 40px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
.chooseList{
  li{
    .user-info-box{
      width: 166px;
      margin-right: 10px;
      .name{
        line-height: 24px;
        margin-bottom: 3px;
      }
      .info{
        .color999(12px,#999);
        margin-left: 16px;
        line-height: 12px;
        .sex{
          margin-right:20px ;
        }
      }
    }
    .disease{
      line-height: 40px;
    }
  }
}