@import "variable";

.pay-box{
  p{
    text-align: center;
  }
  .status-img{
    margin-top: 70px;
    margin-bottom: 19px;
  }
  .btn-p{
    button{
      width:136px;
      height:40px;
      background:rgba(76,198,216,1);
      border-radius: 3px ;
      text-align: center;
      line-height: 40px;
      color: #fff;
      border: none;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.pay-success{
  .status-word{
    .color999(16px,#333);
    line-height: 17px;
    margin-bottom: 12px;
  }
  .pay-money{
    font-size:16px;
    color: #4CC6D8;
    margin-bottom: 26px;
  }
}
.pay-fail{
  .status-word{
    .color999(16px,#ee774d);
    line-height: 17px;
    margin-bottom: 55px;
  }
}