@import "variable";
.main .container .right-box{
  height: 720px;
}
.center-box{
  width: 332px;
  margin: 0 auto;
  margin-top: 48px;
  //border: 2px solid #4CC6D8;
  box-sizing: border-box;
  .top-describe{
    line-height: 24px;
    .color999(14px,#333);
    .title{
      .color999(14px,#999);
    }
  }
  .bottom-box{
    .head-top{
      height: 100px;
      background: #4CC6D8;
      margin-top: 14px;
      .title-name{
        line-height: 52px;
        text-align: center;
        .color999(16px,#fff);
        font-weight: 600;
      }
    }
    .img-p{
      top:61px;
      left: 127px;
      width:78px;
      height:78px;
      img{
        width:78px;
        height:78px;
        border-radius: 50%;
      }
    }
    .content-word{
      border: 2px solid #4CC6D8;
      padding-top: 50px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      height: 280px;
      box-sizing: border-box;
      >p{
        text-align: center;
      }
      .doctor-name{
        .color999(16px,#333);
        font-weight: 600;
        .doctor-info{
          .color999(14px,#4cc6d8);
          left:58% ;
          font-weight: 500;
        }
      }
      .hospital-name{
        .color999(14px,#666);
        line-height: 32px;
        margin-bottom: 6px;
      }
    }
    .consult-info{
      width: 210px;
      margin: 0 auto;
      .time-p{
        line-height: 28px;
        .name{
          .color999(14px,#999);
          margin-right: 20px;
        }
        .word{
          .color999(14px,#333);
        }
      }
    }
    .button-p{
      text-align: center;
      margin-top: 14px;
      span{
        display: inline-block;
        width:80px;
        height:30px;
        background:rgba(76,198,216,1);
        border-radius: 3px ;
        text-align: center;
        box-sizing: border-box;
        background: #4CC6D8;
        border: 1px solid #4CC6D8;
        color: #fff;
        line-height: 30px;
      }
      .go-consult{
        background: #fff;
        color: #4CC6D8;
        margin-right: 7px;
      }
    }
  }
}