@import "variable";

.order-list{
  li{
    padding: 17px 14px;
    border-bottom: 1px solid #EFF1FA;
    p{
      line-height: 24px;
    }
    .time{
      .color999(14px,#666);
      width: 156px;
    }
    .name{
      .color999(14px,#000);
    }
    >.right{
      .money{
        .color999(14px,#ee774d);
        margin-right: 17px;
      }
      .now-pay{
        width:84px;
        height:24px;
        background:rgba(76,198,216,1);
        border-radius: 3px ;
        cursor: pointer;
        text-align: center;
        border: none;
        color: #fff;
        line-height: 24px;
        font-size: 14px;
        margin-right: 6px;
      }
    }
  }
}
.order-pay li{
  .name{
    width: 188px;
  }
  .money{
    .color999(14px,#ee774d);
    margin-right: 17px;
  }
}