.wrapper {
    height: 100%;
    color: #ffffff;
    background:url("../imgs/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
