html,body{
    height: 100%;
    font-family: '微软雅黑', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    background: #101731;;
    font-size: 0.88rem; /*14*2/40*/
    line-height: 1.13rem; /*18*2/40*/
}
img {
    max-width: 100%;
    vertical-align: top;
}
.clearfix{
    display: inline-block;
}
.clearfix:after{
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.show{
    display:block !important;
}
.hide{
    display:none !important;
}
 /*字体大小*/
.h4 {
    font-size: 1rem; /*20*2/40*/
}
small {
    font-size: 0.75rem; /*12*2/40*/
}
/*按钮*/
.btn {
    display: inline-block;
    padding: 0.2rem 0.8rem; /*4*2/40 16*2/40*/
    vertical-align: middle;
    text-align: center;
    font-size: 0.7rem; /*14*2/40*/
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn-primary {
    background: #2EA2FD;
    border-color: #2EA2FD;
    color: #fff;
}
.btn-default {
    background: #fff;
    border-color: #666;
    color: #333;
}
.btn-warning {
    background: #FCB14F;
    border-color: #FCB14F;
    color: #fff;
}
.btn-disabled {
    background: #999;
    border-color: #999;
    color: #fff;
}
.flex-item{
    display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
    display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
}
.flex-item .flex{
  -webkit-flex: 1;        /* Chrome */
  flex: 1;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */
}
.container {
   width: 100%;
   height: 100%;
}
.banner {
    height:  13.13rem;/*210*2/40*/
    padding-top: 2.5rem; /*40*2/40*/
    color: #ffffff;
    background: url('../images/beijing1@2x.png') no-repeat;
    background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .banner {
        background: url('../images/beijing1@3x.png') no-repeat;
        background-size: 100% 100%;
    }
}
.banner h1{
    margin-left: 10.25rem; /*164*2/40*/
    margin-bottom: 0.94rem; /*15*2/40*/
    font-size: 1rem; /*16*2/40*/
}
.banner li{
    margin-left: 11.88rem; /*190*2/40*/
    margin-bottom:0.31rem; /*5*2/40*/
    font-size: 0.81rem;/*13*2/40*/
}
.dot {
  display: inline-block;
  width: 0.25rem; /*6*2/40*/
  height: 0.25rem;/*6*2/40*/
  vertical-align: middle;
  margin-right: 0.38rem; /*6*2/40*/
  background: #ffffff;
  border-radius: 0.25rem;/*6*2/40*/
}
.description {
    height:  20.5rem;/*360*2/40*/
    padding-top: 2.5rem;/*40*2/40*/
    padding-left: 0.94rem;/*15*2/40*/
    padding-right: 0.94rem;/*15*2/40*/
    color: #BCC4E0;
    line-height: 1.25rem;
    background: url('../images/beijing2@2x.png') no-repeat left top;
    background-size: 13.75rem 10.31rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .description {
        background: url('../images/beijing2@3x.png') no-repeat left top;
        background-size: 13.75rem 10.31rem;
    }
}
.description p{
    margin-bottom: .63rem;/*10*2/40*/
}
.title {
  height: 2.01rem; /*32*2/40*/
  margin-bottom: 2.5rem; /*40*2/40*/
  color: #0B83FA;
  text-align: center;
  background: url('../images/xian@2x.png') no-repeat center bottom;
  background-size: 7.5rem .13rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .title {
        background: url('../images/xian@3x.png') no-repeat center bottom;
        background-size: 7.5rem .13rem;
    }
}
.solutionbox {
    margin-bottom: 3.13rem;
    font-size: 0.75rem; /*12*2/40*/
    color: #C4CCE8;
    text-align: center;
}
.solution {
    margin-bottom: 1.88rem;/*30*2/40*/
}
.solution li:first-child{
    margin-left: 0.94rem;
}
.solution .shape {
  width: 4.44rem; /*71*2/40*/
  height: 5.13rem; /*82*2/40*/
  margin-bottom: 0.31rem; /*5*2/40*/
  padding-top: 1.185rem;
  line-height: 0.81rem;
}
.solution .shape.odd{
  background: url("../images/polygon1@2x.png") no-repeat;
  background-size: 4.44rem 5.13rem;
}
.solution .shape.even{
  background: url("../images/polygon2@2x.png") no-repeat;
  background-size: 4.44rem 5.13rem;
}
.solution .shape.unodd{
  background: url("../images/polygon3@2x.png") no-repeat;
  background-size: 4.44rem 5.13rem;
}
.solution .shape.uneven{
  background: url("../images/polygon4@2x.png") no-repeat;
  background-size: 4.44rem 5.13rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .solution .shape.odd{
      background: url("../images/polygon1@3x.png") no-repeat;
      background-size: 4.44rem 5.13rem;
    }
    .solution .shape.even{
      background: url("../images/polygon2@3x.png") no-repeat;
      background-size: 4.44rem 5.13rem;
    }
    .solution .shape.unodd{
      background: url("../images/polygon3@3x.png") no-repeat;
      background-size: 4.44rem 5.13rem;
    }
    .solution .shape.uneven{
      background: url("../images/polygon4@3x.png") no-repeat;
      background-size: 4.44rem 5.13rem;
    }
}
.solution .shape .icon{
  display: inline-block;
  width: 1.38rem;  /*44/40*/
  height: 1.25rem; /*40/40*/
  margin-bottom: .38rem;
  line-height: 1.25rem;
}
.solution .icon1 {
     background: url("../images/1@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon2 {
     background: url("../images/2@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon3 {
     background: url("../images/3@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon4 {
     background: url("../images/4@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon5 {
     background: url("../images/5@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon6 {
     background: url("../images/6@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon7 {
     background: url("../images/7@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .icon8 {
     background: url("../images/8@2x.png") no-repeat;
     background-size: 1.38rem 1.25rem;
}
.solution .shape .text {
  font-size: 0.81rem; /*13*2/40*/
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .solution .icon1 {
         background: url("../images/1@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon2 {
         background: url("../images/2@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon3 {
         background: url("../images/3@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon4 {
         background: url("../images/4@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon5 {
         background: url("../images/5@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon6 {
         background: url("../images/6@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon7 {
         background: url("../images/7@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
    .solution .icon8 {
         background: url("../images/8@3x.png") no-repeat;
         background-size: 1.38rem 1.25rem;
    }
}
.solution .info {
  width: 4.44rem;
  line-height: 1.06rem;
}
.solution .info p {
  width: 3.06rem;
  text-align: left;
  margin: 0 auto
}
.framework {
    margin-bottom: 3.13rem;
}
.framework .list {
  width: 4.06rem; /*65*2/40*/
}
.framework .list li{
  width: 2.81rem; /*45*2/40*/
  margin: 0 auto;
  padding: 0.63rem 1rem 0; /*10*2/40 15*2/40*/
  color: #ffffff;
  line-height: 1rem;
  background: url("../images/lingxing@2x.png") no-repeat;
  background-size: 2.81rem 2.5rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .framework .list li{
      background: url("../images/lingxing@3x.png") no-repeat;
      background-size: 2.81rem 2.5rem;
    }
}
.framework .list .list1 {
    margin-bottom: 4.5rem;/*62*2/40*/
}
.framework .list .list2 {
    margin-bottom: 2.88rem;/*36*2/40*/
}
.framework .list .list3 {
    margin-bottom: 1.13rem;/*8*2/40*/
}
.framework .list .list4 {
    margin-bottom:3.3rem;/*43*2/40*/
}
.framework .category{
    margin-right: 0.44rem; /*10*2/40*/
}
.framework .category li{
  height: 3.13rem; /*50*2/40*/
  margin:0 0.19rem 0.38rem; /*6*2/40*/
  text-align: center;
  line-height: 3.13rem;
  font-size: 0.75rem; /*12*2/40*/
  color: #C8D0EC;
  background: rgba(202,209,228,0.10);
}
.framework .category li.transparent {
   background: transparent;
}
.framework .category li:first-child{
  margin-left: 0;
}
.framework .category1 li{
  width: 6rem; /*96*2/40*/
}

.framework .arrow {
  height: 3.5rem; /*56*2/40*/
  margin-top: -0.38rem;
  background: url("../images/jiantou1@2x.png") no-repeat center center;
  background-size: 3.13rem 1.63rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .framework .arrow{
      background: url("../images/jiantou1@3x.png") no-repeat center center;
      background-size: 3.13rem 1.63rem;
    }
}
.framework .category2 li{
  width: 100%;
}
.framework .category2 {
  margin-top: 2.25rem; /*42*2/40*/
  margin-bottom: 2.63rem; /*42*2/40*/
}
.framework .arrowitem {
  height: 4.81rem; /*77*2/40*/
  margin-top: -0.38rem;
}
.framework .arrowitem .arrowlist {
  width: 4.38rem; /*140/40*/
  height: 2.19rem; /*70/40*/
  margin: 1.25rem auto 1.38rem;
  text-align: center;
  line-height: 2.19rem;
  font-size: 0.75rem; /*12*2/40*/
  color: #ffffff;
  background: url("../images/jiantou2@2x.png") no-repeat;
  background-size: 4.38rem 2.19rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .framework .arrowitem .arrowlist {
      background: url("../images/jiantou2@3x.png") no-repeat center center;
      background-size: 4.38rem 2.19rem;
    }
}
.framework .category3 li{
  width: 4.38rem; /*70*2/40*/
}
.case {
    margin-bottom: 2.19rem;
}
.case li{
  margin-bottom: 1.25rem; /*20*2/40*/
  text-align: center;
}
.case li:first-child{
    margin-left: 1.25rem;
}
.case li:last-child{
    margin-right: 1.25rem;
}
.mr {
    margin-right: 0.94rem;
}
.case .caseitem {
   width: 10rem; /*160*2/40*/
}
.case .caseitem .brand {
  width: 10rem;/*160*2/40*/
  height: 4.38rem;/*70*2/40*/
  margin-bottom: 0.63rem; /*10*2/40*/
}
.case .caseitem  p {
  font-size: 0.81rem; /*13*2/40*/
  color: #FAFAFA;
}
.case .brand1 {
     background: url("../images/tu1@2x.png") no-repeat;
     background-size: 10rem 4.38rem;
}
.case .brand2 {
     background: url("../images/tu2@2x.png") no-repeat;
     background-size: 10rem 4.38rem;
}
.case .brand3 {
     background: url("../images/tu3@2x.png") no-repeat;
     background-size: 10rem 4.38rem;
}
.case .brand4 {
     background: url("../images/tu4@2x.png") no-repeat;
     background-size: 10rem 4.38rem;
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .case .brand1 {
         background: url("../images/tu1@3x.png") no-repeat;
         background-size: 10rem 4.38rem;
    }
    .case .brand2 {
         background: url("../images/tu2@3x.png") no-repeat;
         background-size: 10rem 4.38rem;
    }
    .case .brand3 {
         background: url("../images/tu3@3x.png") no-repeat;
         background-size: 10rem 4.38rem;
    }
    .case .brand4 {
         background: url("../images/tu4@3x.png") no-repeat;
         background-size: 10rem 4.38rem;
    }
}